@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    top:0; left:0; right:0;
    margin:0; padding:0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

body{
    background-color: #333231;
}

.index__navbar-icon{
    margin-left: 20px;
    margin-bottom: 100%;
}

.index__navbar-icon a{
    padding-left: 5px;
}


.index__navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 30px;
    background-color: #1b1b1b;
    padding-top: 2px;
    color: white;
    position: fixed;
}

.index__navbar-linkContainer{
    margin-right: 20px;
}


.index__navbar-link{
    text-decoration: none;
    padding-right: 20px;
    color: white;
}

.index__navbar-link:hover{
    color:#333231;
}

.index__home .index__home-container{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.index__home .index__home-container .index__home-imgContainer img{
    width: 600px;
    height: 600px;
}

.index__home-mainText{
    color: #fff;
    font-size: 4rem;
}

.index__home-descriptionContainer{
    margin-top: 8rem;
}

.index__home-description{
    color: #fff;
    font-size: 1.5vh;
}

.index__home-descriptionButton{
    background-color: #1b1b1b;
    margin-top: 15px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 7px;
    cursor: pointer;
}

.index__home-descriptionButton:hover{
    background-color:#484745;
}

.index__home-descriptionButtonLink{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}















.index__footer{
    display: flex;
    justify-content: center;
    background-color: #1b1b1b;
    height: 50px;
    margin-top: 50px;
}

