*{
    top:0; left:0; right:0;
    margin:0; padding:0;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: #333231;
}

.index__navbar{
    display: flex;
    justify-content: space-around;
    height: 50px;
    font-size: 30px;
    background-color: white;
    padding-top: 5px;
}

.index__navbar-link{
    text-decoration: none;
    color: black;
}



.index__home .index__home-container{
    display: flex;
    justify-content: space-between;
}

.index__home .index__home-container .index__home-imgContainer img{
    width: 700px;
    height: 700px;
}