*{
    top:0; left:0; right:0;
    margin:0; padding:0;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: #333231;
}

.index__navbar-icon{
    margin-left: 20px;
}

.index__navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 30px;
    background-color: #1b1b1b;
    padding-top: 5px;
    color: white;
    position: fixed;
}

.index__navbar-linkContainer{
    margin-right: 20px;
}


.index__navbar-link{
    text-decoration: none;
    padding-right: 20px;
    color: white;
}

.index__navbar-icon{
    margin-top: 2px;
}

.index__navbar-linkContainer{
    margin-top: 2px;
}

.index__navbar-link:hover{
    color:red;
}

.index__home .index__home-container{
    display: flex;
    justify-content: space-between;
}

.index__home .index__home-container .index__home-imgContainer img{
    width: 700px;
    height: 700px;
}

